* {
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background: linear-gradient(180deg, #2a2d3e, #10131c);
  background-size: cover;
  background-position: center;
}

/* 
@media (min-width :768px){
} 
@media (min-width :992px){
}
@media (min-width :1200px){
}
*/
